@font-face {
  font-family: 'ibm';
  src: url(/src/IBMLogo.ttf);
  font-weight: bold;
}

.french {
  display: none;
}

.spanish {
  display: none;
}

.english {
  display: block;
}

#CV {
  margin-top: 20px;
  margin-bottom: 30px;
}

p.flags {
  width: 50%;
  margin: 0;
  margin-left: 25%;
  margin-right: 25%;
  top: 35px;
}

#french,
#english,
#spanish {
  display: inline-block;
  margin-left: 8%;
  margin-right: 8%;
}

h1 {
  color: white;
  font-family: 'ibm';
  text-transform: uppercase;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  font-size: 1.2em;
}

h2 {
  color: white;
  font-family: 'ibm';
  text-transform: uppercase;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  font-size: 1em;
}

h3 {
  color: white;
  font-family: 'ibm';
  text-transform: uppercase;
  margin-bottom: 0em;
  margin-top: 0.3em;
  font-size: 0.8em;
}

#metier {
  -webkit-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid #ffffff;
}

.moi {
  margin: 1%;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  //display: none;
}

.foto {
  position: relative;
  margin: 5px;
  border-radius: 10px;
  height: 98%;
  float: right;
}

.complemen {
  color: white;
  margin: 1%;
  border-radius: 10px;
  //display: none;
}

.complementaireT {
  margin: 1%;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.linkedin {
  display: none;
  position: absolute;
  border-radius: 10px;
  width: 105px;
  height: 35px;
  margin: 5px;
}

.linkedinT {
  display: none;
  border: 2px solid #ffffff;
  position: absolute;
  border-radius: 10px;
  height: 25px;
  width: 105px;
  margin: 5px;
  background-color: black;
}

.experiencesT {
  display: none;
  border: 1px solid #ffffff;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  text-align: center;
  transform: scale(0, 0) translate(0%, 400%);
}

.formationT {
  display: none;
  border: 1px solid #ffffff;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  text-align: center;
  transform: scale(0, 0) translate(0%, 400%);
}

.competencesJeu {
  border: 1px solid #ffffff;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  padding-bottom: 175px;
  text-align: center;
}

.competences {
  border: 1px solid #ffffff;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 1%;
  text-align: center;
  //display: none;
  height: 500px;
}

.competen {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: monospace;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  margin: 1%;
  text-align: center;
  //display: none;
}

.competencelast {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.competencesT {
  border: 1px solid #ffffff;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  text-align: center;
  height: 450px;
}

.BrickBall {
  position: absolute;
  overflow: visible;
  top: 155px;
  right: 0;
}

.informatiquesCont {
  width: 30%;
  text-align: center;
  background-color: rgba(245, 247, 246, 0.2);
  border-radius: 10px;
  margin-top: 0.1%;
  margin-bottom: 0.5%;
  margin-right: 0.5%;
  vertical-align: middle;
  display: inline-block;
  overflow: visible;
}

.informatiques {
  background-color: rgba(245, 247, 246, 0.2);
  text-align: center;
  border-radius: 10px;
  margin-top: 0.5%;
  margin-bottom: 0.1%;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: visible;
}

.informatiquesLast {
  background-color: rgba(245, 247, 246, 0.2);
  text-align: center;
  border-radius: 10px;
  margin-top: 0.5%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: visible;
}

.jobs {
  width: 99%;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  margin-top: 0.1%;
  margin-bottom: 0.1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  vertical-align: middle;
  overflow: visible;
}

.info {
  font-family: monospace;
  font-size: 1em;
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  overflow: visible;
  margin-left: 5px;
  margin-right: 5px;
}

//expériences
.infojob {
  font-family: monospace;
  font-size: 1em;
}

.lieu {
  font-family: monospace;
  font-size: 0.8em;
}

.titreJob {
  margin-bottom: 0.3em;
  background-color: #000;
}

.infoJeu {
  font-family: monospace;
  font-size: 1em;
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  overflow: visible;
  margin-left: 5px;
  margin-right: 5px;
}

.infoT {
  font-family: monospace;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 1em;
  text-align: center;
  background-color: rgba(55, 55, 55, 0.4);
  border-radius: 5px;
  overflow: visible;
  margin-left: 5px;
  margin-right: 5px;
}

.info:hover,
.info:focus {
  transform: scale(1.05);
  box-shadow: 0 0 65px #f7f9f2 inset, 0 0 20px #beae8c inset, 0 0 15px #b6a684;
}

.infolast {
  font-family: monospace;
  font-size: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  overflow: visible;
  margin-left: 5px;
  margin-right: 5px;
}

.infolast:hover,
.infolast:focus {
  transform: scale(1.05);
  box-shadow: 0 0 65px #f7f9f2 inset, 0 0 20px #beae8c inset, 0 0 15px #b6a684;
}

.infoJeu:hover,
.infoJeu:focus {
  transform: scale(1.05);
  box-shadow: 0 0 65px #f7f9f2 inset, 0 0 20px #beae8c inset, 0 0 15px #b6a684;
}

.btp {
  width: 30%;
  text-align: center;
  background-color: rgba(245, 247, 246, 0.2);
  border-radius: 10px;
  display: inline-block;
  margin-top: 0.1%;
  margin-bottom: 5px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  vertical-align: middle;
  overflow: visible;
}

.commerciales {
  width: 30%;
  color: black;
  text-align: center;
  background-color: rgba(245, 247, 246, 0.2);
  border-radius: 10px;
  display: inline-block;
  margin-top: 0.1%;
  margin-bottom: 0.1%;
  vertical-align: middle;
  margin-left: 0.5%;
  overflow: visible;
}

.commercialesT {
  width: 30%;
  color: black;
  text-align: center;
  background-color: rgba(245, 247, 246, 0.6);
  border-radius: 10px;
  display: inline-block;
  margin-top: 0.1%;
  margin-bottom: 0.1%;
  vertical-align: top;
  margin-left: 0.5%;
  overflow: visible;
}

#m0ncentrageJeu {
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 80%;
  margin-top: 40px;
  margin-bottom: 60px;
}

#scoreForm {
  width: 80%;
  max-width: '400px';
  display: none;
  vertical-align: middle;
  margin-left: 10%;
  margin-right: 10%;
}

#score {
  display: none;
}

#mesData {
  margin: auto;
  text-align: left;
}

.backgroundRed {
  //background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
  font-family: monospace;
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 15%;
  margin-right: 15%;
  overflow: hidden;
}